<header class="header">
    <div class="header-bar container">
        <a class="btn btn--small btn--icon toggle-menu">
            <span class="icon-list-menu"></span>
        </a>
        <a href="http://ciscolive.com" class="header-bar__logo">
            <span class="ciscolive-icon"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">
                    {{courseSlug}}
                </h1>
            </div>
        </div>
        <div class="header-toolbar">
            {{#each buttons}}
                <a class="btn btn--small btn--icon"
                   title="{{description}}"
                   data-toggle="modal"
                   data-target="#{{selector}}"
                >
                    <span class="icon-{{icon}}"></span>
                </a>
            {{/each}}
            <a class="btn btn--small btn--icon"
               title="Download PDF"
               href="/pdf/{{courseTitle}}"
            >
                <span class="icon-file-pdf-o"></span>
            </a>
        </div>
    </div>
</header>