<header class="header">
    <div class="header-bar container">
        <a class="btn btn--small btn--icon toggle-menu">
            <span class="icon-list-menu"></span>
        </a>
        <a href="http://ciscolive.com" class="header-bar__logo">
            <span class="ciscolive-icon"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">
                    Profile for Admin
                </h1>
            </div>
        </div>
        <div class="header-toolbar">
            <a class="btn btn--small btn--icon"
               title="Back to Home Page"
               href="/"
            >
                <span class="icon-back"></span>
            </a>
        </div>
    </div>
</header>