<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Editing - {{courseTitle}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css"/>
    <link rel="stylesheet" href="/css/jqtree.css">
    <link rel="stylesheet" href="/js/vendor/fineuploader/fine-uploader-new.css">
    <link rel="stylesheet" href="/css/editor-styles.css">

    <script src="/js/vendor/fineuploader/fine-uploader.js"></script>
    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Upload a file</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
</head>
<body class="edit-page">

<header class="header">
    <div class="header-bar container">
        <a href="http://ciscolive.com" class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">
                    <span id="courseNameDisplay">{{courseName}}</span>: <span id="courseSlugDisplay">{{courseSlug}}</span>
                </h1>
            </div>
        </div>
        <div>
            <a class="btn btn--icon"
               title="Course Variables"
               data-toggle="modal"
               data-target="#course_variables"
            >
                <span class="icon-info"></span>
            </a>
            <a class="btn btn--icon"
               title="Back to Profile Page"
               href="/profile/admin"
            >
                <span class="icon-back"></span>
            </a>
            <a class="btn btn--icon"
               title="Open course"
               target="_blank"
               href="/courses/{{courseTitle}}"
            >
                <span class="icon-link"></span>
            </a>
        </div>
    </div>
</header>

<div class="row course-data">
    <div class="row section-labels">
        <div class="section-label col-md-8">
            Course Details:
        </div>
        <div class="section-label col-md-3">
            Course Variables:
        </div>
    </div>
    <div class="col-md-8 panel panel-default">
        <div class="col-md-12">
            <div class="content">
                <form id="courseData">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-group__text">
                                <input type="text" id="courseTitle" name="courseTitle" class="form-control" />
                                <label for="courseTitle">Title:</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group__text">
                                <input type="text" id="courseSlug" name="courseSlug" class="form-control" />
                                <label for="courseSlug">Slug:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-group__text">
                                <input type="text" id="courseName" name="courseName" class="form-control" />
                                <label for="courseName">Name:</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group__text">
                                <input type="text" id="splashInstructions" name="splashInstructions" class="form-control" />
                                <label for="splashInstructions">Instructions:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-group__text">
                                <input type="text" id="userNomenclature" name="userNomenclature" class="form-control" />
                                <label for="userNomenclature">User Nomenclature:</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group__text">
                                <input type="text" id="fullTitle" name="fullTitle" class="form-control" />
                                <label for="fullTitle">Full Title:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row save-button">
                        <div class="col-md-7 save-buffer">&nbsp;</div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary pull-right" onclick="saveCourseData(event)">Save</button>
                            </div>
                        <div class="col-md-6">&nbsp;</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="variable-upload col-md-4 panel panel-default">
        <div class="col-md-12">
            <div class="content">
                <form id="courseVariables">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <div id="fileUploader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="uploadUpdate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row leading-data">
    <ul class="nav nav-tabs" id="navTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="true">Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="buttons-tab" data-toggle="tab" href="#buttons" role="tab" aria-controls="buttons" aria-selected="false">Buttons</a>
        </li>
    </ul>
    <div class="col-md-12 panel panel-default">
        <div class="col-md-3">
            <div class="tab-content" id="navTabContent">
                <div class="tab-pane active" id="course" role="tabpanel" aria-labelledby="course-tab">
                    <div id="tree"></div>
                </div>
                <div class="tab-pane" id="buttons" role="tabpanel" aria-labelledby="buttons-tab">
                    <div id="buttonTree"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <div id="structureData">
                    <form id="nodeData">
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-1">
                                <div class="form-group__text">
                                    <input type="text" id="title" name="title" class="form-control" />
                                    <label for="title">Title:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-md-offset-1 section-variables">
                                <div class="row">
                                    <div class="form-group__text col-md-8">
                                        <input type="text" id="path" name="path" class="form-control" disabled />
                                        <label for="path">Path:</label>
                                    </div>
                                    <div class="col-md-4 inline-checkbox">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="autopath" value="" checked> <span id="autopath-label">Automatic</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea name="editor" id="editor" class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">&nbsp;</div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary pull-right" onclick="saveStructure(event, true)">Save</button>
                                </div>
                            <div class="col-md-2">&nbsp;</div>
                        </div>
                    </form>
                </div>
                <div id="buttonData" class="hidden">
                    <form id="buttonNodeData">
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-1">
                                <div class="form-group__text">
                                    <input type="text" id="buttonTitle" name="buttonTitle" class="form-control" />
                                    <label for="buttonTitle">Title:</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                <input type="hidden" id="buttonIcon" name="buttonIcon"/>
                                <a class="btn"
                                   title="Icon Selection"
                                   data-toggle="modal"
                                   data-target="#icon-select"
                                >
                                    <span id="current-selected-icon"></span> Select Icon
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-9 col-md-offset-1">
                                <div class="form-group__text">
                                    <input type="text" id="buttonDescription" name="buttonDescription" class="form-control" />
                                    <label for="buttonDescription">Description:</label>
                                </div>
                            </div>
                            <input type="hidden" id="buttonSelector" name="buttonSelector"/>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea name="buttonEditor" id="buttonEditor" class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">&nbsp;</div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary pull-right" onclick="saveButtonData(event, true)">Save</button>
                            </div>
                            <div class="col-md-2">&nbsp;</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ul id="contextMenu" class="dropdown-menu">
    <li class="delete">
        <a href="#delete">
            <span class="icon-remove"></span>
            Delete
        </a>
    </li>
    <li class="divider"></li>
    <li class="add-before">
        <a href="#addBefore">
            <span class="icon-plus"></span>
            Add Sibling Before
        </a>
    </li>
    <li class="add-after">
        <a href="#addAfter">
            <span class="icon-plus"></span>
            Add Sibling After
        </a>
    </li>
    <li class="add-child">
        <a href="#addChild">
            <span class="icon-plus"></span>
            Add Child
        </a>
    </li>
</ul>

<ul id="buttonContextMenu" class="dropdown-menu">
    <li class="delete">
        <a href="#delete">
            <span class="icon-remove"></span>
            Delete
        </a>
    </li>
    <li class="divider"></li>
    <li class="add-before">
        <a href="#addBefore">
            <span class="icon-plus"></span>
            Add Sibling Before
        </a>
    </li>
    <li class="add-after">
        <a href="#addAfter">
            <span class="icon-plus"></span>
            Add Sibling After
        </a>
    </li>
</ul>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js"></script>
<script src="/js/js.cookie.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/tree.jquery.js"></script>
<script src="/js/jqTreeContextMenu.js"></script>
<script>

    // TODO: This needs better documentation.

    var
        $courseTree = $('#tree'),
        $buttonTree = $('#buttonTree'),
        $titleField = $('#title'),
        $pathField = $('#path'),
        $buttonTitleField = $('#buttonTitle'),
        $buttonDescription = $('#buttonDescription'),
        $buttonIcon = $('#buttonIcon'),
        $nodeData = $('#nodeData'),
        $buttonNodeData = $('#buttonNodeData'),
        $buttonSelector = $('#buttonSelector'),
        $autopathField = $('#autopath'),
        $currentSelectedIcon = $('#current-selected-icon'),
        data = {},
        currentNodeId = 0,
        currentButtonId = 0,
        autopath = $autopathField.prop('checked')
    ;

    var saveStructure = function(e, edited) {
        var
            currentTitle = $titleField.val(),
            currentPath = $pathField.val(),
            currentData = CKEDITOR.instances['editor'].getData(),
            currentNode = $courseTree.tree('getNodeById', currentNodeId)
        ;

        if (edited) {
            // Prevent the default form submission.
            e.preventDefault();

            $courseTree.tree(
                'updateNode',
                currentNode,
                {
                    name: currentTitle,
                    path: currentPath,
                    data: currentData
                }
            );
        }

        data.courseData.children = JSON.parse($courseTree.tree('toJson'));
        data.courseData.buttons = JSON.parse($buttonTree.tree('toJson'));

        $.post('/update-course', data)
            .fail(function(er) {
                console.log('Failed');
                console.log(er);
            })
        ;

    };

    var saveButtonData = function(e, edited) {
        var
            currentTitle = $buttonTitleField.val(),
            currentDescription = $buttonDescription.val(),
            currentSelector = $buttonSelector.val(),
            currentIcon = $buttonIcon.val(),
            currentData = CKEDITOR.instances['buttonEditor'].getData(),
            currentNode = $buttonTree.tree('getNodeById', currentButtonId)
        ;

        if (edited) {
            // Prevent the default form submission.
            e.preventDefault();

            $buttonTree.tree(
                'updateNode',
                currentNode,
                {
                    name: currentTitle,
                    description: currentDescription,
                    selector: currentSelector,
                    icon: currentIcon,
                    data: currentData
                }
            );
        }

        data.courseData.children = JSON.parse($courseTree.tree('toJson'));
        data.courseData.buttons = JSON.parse($buttonTree.tree('toJson'));

        $.post('/update-course', data)
            .fail(function(er) {
                console.log('Failed');
                console.log(er);
            })
        ;
    };

    var saveCourseData = function(e) {
        // Prevent the default form submission
        e.preventDefault();

        data.courseTitle = $('#courseTitle').val();
        data.courseSlug = $('#courseSlug').val();
        data.courseName = $('#courseName').val();
        data.splashInstructions = $('#splashInstructions').val();
        data.userNomenclature = $('#userNomenclature').val();
        data.splashTitle = $('#fullTitle').val();

        $.post('/update-course', data)
            .done(function() {
                $('#courseNameDisplay').text(data.courseName);
                $('#courseSlugDisplay').text(data.courseSlug);
            })
            .fail(function(er) {
                console.log('Failed');
                console.log(er);
            })
        ;
    };

    var addNode = function($tree, parentNode, newNode) {
        $tree.tree('appendNode', newNode, parentNode);
    };

    var addNodeBefore = function($tree, siblingNode, newNode) {
        $tree.tree('addNodeBefore', newNode, siblingNode);
    };

    var addNodeAfter = function($tree, siblingNode, newNode) {
        $tree.tree('addNodeAfter', newNode, siblingNode);
    };

    var collapseTree = function(tree) {
        tree.iterate(function(node, level) {
            if (node.hasChildren()) {
                $courseTree.tree("closeNode", node, true);
            }
            return true;
        });
    };

    var expandTree = function(tree) {
        tree.iterate(function(node, level) {
            if (node.hasChildren()) {
                $courseTree.tree("openNode", node, true);
            }
            return true;
        });
    };

    $(function() {

        $autopathField.change(function() {
            if(this.checked) {
                $pathField.prop('disabled', true);
                autopath = true;
                $pathField.val($titleField.val().toLowerCase().replace(/[^A-za-z0-9_ ]|\^/g, '').replace(/\s+|_/g, '-'));
            }
            else {
                $pathField.prop('disabled', false);
                autopath = false;
            }
        });

        $titleField.keyup(function() {
            if (autopath === true) {
                $pathField.val($titleField.val().toLowerCase().replace(/[^A-za-z0-9_ ]|\^/g, '').replace(/\s+|_/g, '-'));
            }
        });

        $buttonTitleField.keyup(function() {
            $buttonSelector.val($buttonTitleField.val().toLowerCase().replace(/[^A-za-z0-9_ ]|\^/g, '').replace(/\s+|_/g, '-'));
        });

        $.getJSON('/get-course/{{courseTitle}}', function(courseInfo) {
            data = courseInfo;

            // Set the values of the course detail fields.
            $('#courseTitle').val(data.courseTitle);
            $('#courseSlug').val(data.courseSlug);
            $('#courseName').val(data.courseName);
            $('#splashInstructions').val(data.splashInstructions);
            $('#userNomenclature').val(data.userNomenclature);
            $('#fullTitle').val(data.splashTitle);

            $courseTree.tree({
                data: data.courseData.children,
                dragAndDrop: true,
                autoOpen: false
            });

            $buttonTree.tree({
                data: data.courseData.buttons,
                dragAndDrop: true,
                autoOpen: false,
                // Don't allow dragging into other nodes.
                onCanMoveTo: function(moved_node, target_node, position) {
                    if (position === 'before' || position === 'after') {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            });

            // Collapse tree since the autoOpen parameter is currently broken and the tree is always expanded
            // by default.
            collapseTree($courseTree.tree('getTree'));

            var contextMenuApi = $courseTree.jqTreeContextMenu(
                $('#contextMenu'),
                {
                    delete: function(node) {
                        $courseTree.tree('removeNode', node);
                        saveStructure(false);
                    },
                    addBefore: function(node) {
                        var newId = Math.floor((Math.random() * 1000000000000) + 1);
                        addNodeBefore($courseTree, node, {
                            id: newId,
                            name: '[title]',
                            data: ''
                        });

                        var $newNode = $courseTree.tree('getNodeById', newId);
                        $courseTree.tree('selectNode', $newNode);
                    },
                    addAfter: function(node) {
                        var newId = Math.floor((Math.random() * 1000000000000) + 1);
                        addNodeAfter($courseTree, node, {
                            id: newId,
                            name: '[title]',
                            data: ''
                        });

                        var $newNode = $courseTree.tree('getNodeById', newId);
                        $courseTree.tree('selectNode', $newNode);
                    },
                    addChild: function(node) {
                        var newId = Math.floor((Math.random() * 1000000000000) + 1);
                        addNode($courseTree, node, {
                            id: newId,
                            name: '[title]',
                            data: ''
                        });

                        var $newNode = $courseTree.tree('getNodeById', newId);
                        $courseTree.tree('selectNode', $newNode);
                    }
                }
            );

            // Eventually should probably rerun this segment every time
            // there is a move or deletion.
            var rootNode = $courseTree.tree(
                'getNodeByCallback',
                function(node) {
                    // Refactor this to truly detect the first node
                    // Probably by list item selector and comparison.
                    if (node.getLevel() === 1) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            );

            var buttonContextMenu = $buttonTree.jqTreeContextMenu(
                $('#buttonContextMenu'),
                {
                    delete: function(node) {
                        $buttonTree.tree('removeNode', node);
                        saveButtonData(false);
                    },
                    addBefore: function(node) {
                        var newId = Math.floor((Math.random() * 1000000000000) + 1);
                        addNodeBefore($buttonTree, node, {
                            id: newId,
                            name: '[title]',
                            data: ''
                        });

                        var $newNode = $buttonTree.tree('getNodeById', newId);
                        $buttonTree.tree('selectNode', $newNode);
                    },
                    addAfter: function(node) {
                        var newId = Math.floor((Math.random() * 1000000000000) + 1);
                        addNodeAfter($buttonTree, node, {
                            id: newId,
                            name: '[title]',
                            data: ''
                        });

                        var $newNode = $buttonTree.tree('getNodeById', newId);
                        $buttonTree.tree('selectNode', $newNode);
                    }
                }
            );

            var buttonRoot = $buttonTree.tree(
                'getNodeByCallback',
                function(node) {
                    if (node.getLevel() === 1) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            );

            contextMenuApi.disable(rootNode.name, ['delete']);
            buttonContextMenu.disable(buttonRoot.name, ['delete']);

            $buttonTree.on('tree.select', function(event) {
                if (event.node) {
                    var node = event.node;

                    currentButtonId = node.id;
                    $buttonTitleField.val(node.name);
                    $buttonDescription.val(node.description);
                    $buttonIcon.val(node.icon);
                    $buttonSelector.val(node.selector);
                    $currentSelectedIcon.removeClass();
                    $currentSelectedIcon.addClass('icon-' + node.icon);
                    CKEDITOR.instances['buttonEditor'].setData(node.data);
                    $buttonNodeData.show();

                    $('.icon-set li.selected').removeClass('selected');
                    $('#' + node.icon + '-icon-button').addClass('selected');
                }
                else {
                    currentButtonId = 0;
                    $buttonTitleField.val('');
                    CKEDITOR.instances['buttonEditor'].setData('');
                    $buttonNodeData.hide();
                }
            });

            $buttonTree.on('tree.move', function(event) {
                // For whatever reason this needs to be fired manually
                // before the internal tree is ready to be saved.
                event.move_info.do_move();

                saveButtonData(false);
            });

            $('.icon-set li').on('click', function(e) {
               var
                   iconButtonId = $(this).attr('id'),
                   icon = iconButtonId.substring(0, iconButtonId.indexOf('-icon-button'));
               ;

               $('.icon-set li.selected').removeClass('selected');
               $(this).addClass('selected');
               $buttonIcon.val(icon);
               $currentSelectedIcon.removeClass();
               $currentSelectedIcon.addClass('icon-' + icon);
            });

            $courseTree.on('tree.select', function(event) {
                if (event.node) {
                    var node = event.node;

                    currentNodeId = node.id;
                    $titleField.val(node.name);
                    $pathField.val(node.path);
                    CKEDITOR.instances['editor'].setData(node.data);
                    $nodeData.show();

                }
                else {
                    currentNodeId = 0;
                    $titleField.val('');
                    CKEDITOR.instances['editor'].setData('');
                    $nodeData.hide();
                }
            });

            $courseTree.on('tree.move', function(event) {
                // For whatever reason this needs to be fired manually
                // before the internal tree is ready to be saved.
                event.move_info.do_move();

                saveStructure(false);
            });
        });

        CKEDITOR.config.customConfig = 'config.js';
        CKEDITOR.config.uploadUrl = '/upload_photo';
        CKEDITOR.replace('editor');
        CKEDITOR.replace('buttonEditor');

        var editor = CKEDITOR.instances['editor'];
        var buttonEditor = CKEDITOR.instances['buttonEditor'];

        editor.on('fileUploadResponse', function(event) {
            var
                    url = JSON.parse(event.data.fileLoader.xhr.responseText).url,
                    imgHtml = CKEDITOR.dom.element.createFromHtml('<img src="' + url + '"/>');
            ;

            editor.insertElement(imgHtml);
        });

        buttonEditor.on('fileUploadResponse', function(event) {
            var
                    url = JSON.parse(event.data.fileLoader.xhr.responseText).url,
                    imgHtml = CKEDITOR.dom.element.createFromHtml('<img src="' + url + '"/>');
            ;

            buttonEditor.insertElement(imgHtml);
        });

        // Allow for the copying of the variable name when a user clicks on the appropriate variable in the popup.
        var clipboard = new Clipboard('ul.variables > li.list-group-item', {
            text: function(trigger) {
                return '\{\{' + trigger.innerHTML + '\}\}';
            }
        });

        clipboard.on('success', function(e) {
            var
                triggeredItem = e.trigger,
                originalText = triggeredItem.innerHTML
            ;

            triggeredItem.innerHTML = originalText + ' <span class="element-copied">:: copied ::</span>';

            // Need to use a closure to capture the original variables so that we can set them back in a timeout. 
            function restoreText () {
                return function() {
                    triggeredItem.innerHTML = originalText;
                };
            }

            setTimeout(restoreText(), 1000);
        });

        // Set up file uploader (fineuploader)
        var uploader = new qq.FineUploader({
            multiple: false,
            element: document.getElementById('fileUploader'),
            request: {
                endpoint: '/upload-file/{{courseTitle}}'
            },
            validation: {
                allowedExtensions: ['csv']
            },
            callbacks: {
                onComplete: function(id, name, responseJSON, xhr) {
                    var variableElementString = '';

                    $('#uploadUpdate').html('Variables updated.');

                    setTimeout(function() {
                        $('#uploadUpdate').html('');
                    }, 3000);

                    responseJSON.vars.sort().forEach(function(row) {
                        variableElementString += '<li class="list-group-item col-md-6">' + row + '</li> ';
                    });

                    $('ul.variables').html(variableElementString);
                }
            }
        });

        // Select the first node in our tree (and open the proper edit field in doing so.
        // Break the function out and generalize it later.
        $courseTree.on('tree.init', function() {
            var
                $firstItem = $('#course .jqtree-tree li').first(),
                firstNode = $courseTree.tree('getNodeByHtmlElement', $firstItem[0])
            ;

            function selectFirstNode() {
                return function () {
                    $courseTree.tree('selectNode', firstNode);
                };
            }

            setTimeout(selectFirstNode(), 600);
        });

        $buttonTree.on('tree.init', function() {
            var
                    $firstItem = $('#buttons .jqtree-tree li').first(),
                    firstNode = $buttonTree.tree('getNodeByHtmlElement', $firstItem[0])
            ;

            function selectFirstNode() {
                return function () {
                    $buttonTree.tree('selectNode', firstNode);
                };
            }

            setTimeout(selectFirstNode(), 600);
        });

        // The bootstrap event shown.bs.tab is not functioning for some
        // reason, so we'll need to use click for now.
        $('a[data-toggle="tab"]').on('click', function (e) {
            var
                $buttonsMenu = $('#buttonData'),
                $structureMenu = $('#structureData'),
                isButtonTab = e.target === $('#buttons-tab')[0]
            ;

            if (isButtonTab) {
                $buttonsMenu.removeClass('hidden');
                $structureMenu.addClass('hidden');
            }
            else {
                $buttonsMenu.addClass('hidden');
                $structureMenu.removeClass('hidden');
            }
        });
    });

</script>
<section id="modals">
    <div class="modal fade" id="course_variables" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span>&times;</span>
                    </button>
                    <h3 class="modal-title">
                        Course Variables
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <ul class="variables list-group col-md-12">
                                    {{#each courseVars}}
                                        <li class="list-group-item col-md-6">{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default dismiss"
                            data-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="icon-select" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span>&times;</span>
                    </button>
                    <h3 class="modal-title">
                        Select an Icon for this Button
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <ul class="icon-set list-group col-md-12">
                                    <li id="info-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-info"></i>
                                        </div>
                                    </li>
                                    <li id="ethernet-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-ethernet"></i>
                                        </div>
                                    </li>
                                    <li id="cloud-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-cloud"></i>
                                        </div>
                                    </li>
                                    <li id="devices-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-devices"></i>
                                        </div>
                                    </li>
                                    <li id="acessibility-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-acessibility"></i>
                                        </div>
                                    </li>
                                    <li id="analysis-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-analysis"></i>
                                        </div>
                                    </li>
                                    <li id="application-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-application"></i>
                                        </div>
                                    </li>
                                    <li id="at-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-at"></i>
                                        </div>
                                    </li>
                                    <li id="aux-camera-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-aux-camera"></i>
                                        </div>
                                    </li>
                                    <li id="bluetooth-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-bluetooth"></i>
                                        </div>
                                    </li>
                                    <li id="bug-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-bug"></i>
                                        </div>
                                    </li>
                                    <li id="briefcase-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-briefcase"></i>
                                        </div>
                                    </li>
                                    <li id="bookmark-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-bookmark"></i>
                                        </div>
                                    </li>
                                    <li id="calendar-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </li>
                                    <li id="calendar-meetings-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-calendar-meetings"></i>
                                        </div>
                                    </li>
                                    <li id="calendar-weekly-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-calendar-weekly"></i>
                                        </div>
                                    </li>
                                    <li id="browser-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-browser"></i>
                                        </div>
                                    </li>
                                    <li id="camera-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-camera"></i>
                                        </div>
                                    </li>
                                    <li id="cog-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-cog"></i>
                                        </div>
                                    </li>
                                    <li id="communities-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-communities"></i>
                                        </div>
                                    </li>
                                    <li id="contact-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-contact"></i>
                                        </div>
                                    </li>
                                    <li id="diagnostics-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-diagnostics"></i>
                                        </div>
                                    </li>
                                    <li id="data-usage-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-data-usage"></i>
                                        </div>
                                    </li>
                                    <li id="desk-phone-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-desk-phone"></i>
                                        </div>
                                    </li>
                                    <li id="directory-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-directory"></i>
                                        </div>
                                    </li>
                                    <li id="display-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-display"></i>
                                        </div>
                                    </li>
                                    <li id="document-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-document"></i>
                                        </div>
                                    </li>
                                    <li id="download-contain-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-download-contain"></i>
                                        </div>
                                    </li>
                                    <li id="draw-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-draw"></i>
                                        </div>
                                    </li>
                                    <li id="email-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-email"></i>
                                        </div>
                                    </li>
                                    <li id="emoticons-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-emoticons"></i>
                                        </div>
                                    </li>
                                    <li id="exclamation-circle-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-exclamation-circle"></i>
                                        </div>
                                    </li>
                                    <li id="exclamation-triangle-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-exclamation-triangle"></i>
                                        </div>
                                    </li>
                                    <li id="endpoint-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-endpoint"></i>
                                        </div>
                                    </li>
                                    <li id="extension-mobility-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-extension-mobility"></i>
                                        </div>
                                    </li>
                                    <li id="eye-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-eye"></i>
                                        </div>
                                    </li>
                                    <li id="feedback-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-feedback"></i>
                                        </div>
                                    </li>
                                    <li id="file-code-o-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file-code-o"></i>
                                        </div>
                                    </li>
                                    <li id="file-excel-o-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file-excel-o"></i>
                                        </div>
                                    </li>
                                    <li id="file-image-o-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file-image-o"></i>
                                        </div>
                                    </li>
                                    <li id="file-powerpoint-o-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file-powerpoint-o"></i>
                                        </div>
                                    </li>
                                    <li id="file-word-o-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file-word-o"></i>
                                        </div>
                                    </li>
                                    <li id="file-video-o-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file-video-o"></i>
                                        </div>
                                    </li>
                                    <li id="folder-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-folder"></i>
                                        </div>
                                    </li>
                                    <li id="file-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-file"></i>
                                        </div>
                                    </li>
                                    <li id="google-analytics-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-google-analytics"></i>
                                        </div>
                                    </li>
                                    <li id="gpu-graphicscard-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-gpu-graphicscard"></i>
                                        </div>
                                    </li>
                                    <li id="hunt-group-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-hunt-group"></i>
                                        </div>
                                    </li>
                                    <li id="info-circle-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-info-circle"></i>
                                        </div>
                                    </li>
                                    <li id="hue-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-hue"></i>
                                        </div>
                                    </li>
                                    <li id="instant-meeting-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-instant-meeting"></i>
                                        </div>
                                    </li>
                                    <li id="image-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-image"></i>
                                        </div>
                                    </li>
                                    <li id="intercom-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-intercom"></i>
                                        </div>
                                    </li>
                                    <li id="keywords-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-keywords"></i>
                                        </div>
                                    </li>
                                    <li id="link-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-link"></i>
                                        </div>
                                    </li>
                                    <li id="language-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-language"></i>
                                        </div>
                                    </li>
                                    <li id="laser-pointer-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-laser-pointer"></i>
                                        </div>
                                    </li>
                                    <li id="layers-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-layers"></i>
                                        </div>
                                    </li>
                                    <li id="layout-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-layout"></i>
                                        </div>
                                    </li>
                                    <li id="lightbulb-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-lightbulb"></i>
                                        </div>
                                    </li>
                                    <li id="list-menu-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-list-menu"></i>
                                        </div>
                                    </li>
                                    <li id="list-view-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-list-view"></i>
                                        </div>
                                    </li>
                                    <li id="location-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-location"></i>
                                        </div>
                                    </li>
                                    <li id="lock-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </li>
                                    <li id="manage-cable-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-manage-cable"></i>
                                        </div>
                                    </li>
                                    <li id="meeting-room-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-meeting-room"></i>
                                        </div>
                                    </li>
                                    <li id="mobile-phone-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-mobile-phone"></i>
                                        </div>
                                    </li>
                                    <li id="more-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-more"></i>
                                        </div>
                                    </li>
                                    <li id="microphone-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-microphone"></i>
                                        </div>
                                    </li>
                                    <li id="music-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-music"></i>
                                        </div>
                                    </li>
                                    <li id="notes-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-notes"></i>
                                        </div>
                                    </li>
                                    <li id="pin-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-pin"></i>
                                        </div>
                                    </li>
                                    <li id="pencil-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-pencil"></i>
                                        </div>
                                    </li>
                                    <li id="pc-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-pc"></i>
                                        </div>
                                    </li>
                                    <li id="poll-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-poll"></i>
                                        </div>
                                    </li>
                                    <li id="proximity-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-proximity"></i>
                                        </div>
                                    </li>
                                    <li id="participant-list-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-participant-list"></i>
                                        </div>
                                    </li>
                                    <li id="power-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-power"></i>
                                        </div>
                                    </li>
                                    <li id="signal-4-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-signal-4"></i>
                                        </div>
                                    </li>
                                    <li id="spark-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-spark"></i>
                                        </div>
                                    </li>
                                    <li id="storage-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-storage"></i>
                                        </div>
                                    </li>
                                    <li id="subscribe-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-subscribe"></i>
                                        </div>
                                    </li>
                                    <li id="wifi-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-wifi"></i>
                                        </div>
                                    </li>
                                    <li id="usb-icon-button" class="list-group-item col-md-1">
                                        <div class="icon-item">
                                            <i class="icon-usb"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default dismiss"
                            data-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <hr>
    <div class="panel panel-default bg-info text-center">
        <h4>Tutorials on usage available <a href="https://cisco.box.com/s/ic0xldehafvfo6nm9blvy5pqln0o6bgs" target="_blank"> here</a>.</h4>
    </div>
    <br/>
</footer>
</body>
</html>