<div id="content-wrapper">
    {{> sidebar }}
    <div class="content-body">
        {{> profilenav }}
        <div id="content" class="content container-fluid">
            {{#if message}}
                <div class="alert alert--danger">
                    <strong>{{message}}</strong>
                </div>
            {{/if}}
            <div class="container">
                <div class="list-group">
                    {{#each courses}}
                        <a href="{{this.courseLink}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{this.courseTitle}}</h5>
                                <h5 class="text-muted">{{this.courseName}}: {{this.courseSlug}}</h5>
                                <h5 class="text-muted">{{this.splashTitle}}</h5>
                            </div>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>