.headspace.panel-default {
    min-height: 50px;
    margin-top: 25px;
}

.leading-data .panel-default {
    min-height: 200px;
}

div.jqtree_element.jqtree_common:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.jqtree-element.jqtree_common {
    color: #428bca;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.dropdown-menu > li > a {
    color: #428bca;
    background-color: #fff;
}

ul.dropdown-menu > li:hover > a {
    color: #2a46a1;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover,
ul.jqtree-tree li.jqtree-selected > .jqtree-element span.jqtree-title.jqtree_common,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover span.jqtree-title.jqtree_common,
ul.jqtree-tree li.jqtree-selected > .jqtree-element a.jqtree-toggler.jqtree_common,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover a.jqtree-toggler.jqtree_common {
    text-shadow: none;
    background: none;
    background-color: #428bca;
    color: #fff;
}

a.jqtree-toggler.jqtree_common {
    color: #428bca;
}

a.jqtree-toggler.jqtree_common:hover {
    color: #2a46a1;
}

span.jqtree-title.jqtree_common {
    color: #428bca;
}

#nodeData {
    display: none;
}

ul.variables > li {
    cursor: pointer;
}

ul.variables > li:hover {
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
}

html, body, .container-fluid, .container-fluid .row {
    height: 100%;
}

nav a.jqtree-toggler.jqtree_common {
    color: #555;
}

nav a.jqtree-toggler.jqtree_common:hover {
    color: #555;
}

nav span.jqtree-title.jqtree_common {
    color: #555;
}

nav div#tree {
    margin-top: 10px;
}

.apollo-sidebar,
.sidebar {
    width: 0;
}

div.show-menu .apollo-sidebar,
div.show-menu .sidebar {
    width: 300px;
}

div.show-menu div.content-body,
div.show-menu div.content {
    padding-left: 300px;
}

input.form-control:focus {
    border: none;
    outline:0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body {
    font-family: "CiscoSans", "Arial", sans-serif;
}

div#content {
    padding: 2em;
    overflow-x: hidden;
    width: 95%;
    margin: 0 5%;
    padding-right: 10%;
}

div.note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #14a792;
    background-color: #dfdfdf;
}
div.note::before {
    content: 'Note!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #14a792;
    display: block;
}

div.important-note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #049fd9;
    background-color: #dfdfdf;
}
div.important-note::before {
    content: 'Important!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #049fd9;
    display: block;
}

div.warning-note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #cf2030;
    background-color: #dfdfdf;
}
div.warning-note::before {
    content: 'Warning!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #cf2030;
    display: block;
}

div.text-editor {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 15px 27px;
    clear: both;
    overflow: hidden;
}

div.text-editor > div.editor-title-bar {
    padding: 5px 0;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

div.text-editor > pre.editor-body {
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #f0f0f0;
    padding: 10px 25px;
    text-shadow: #000 0 1px 0;
    font-family: "Consolas", "Courier New", "Courier", sans-serif;
    font-size: 1em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    margin: -1px;
}

div.text-editor > pre.editor-body.bash::before {
    content: "$ ";
}

pre {
    background-color: #39393b;
    color: #fff;
    overflow-y: auto;
}

pre > strong {
    color: steelblue;
}

pre[class*=language-] {
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 15px 27px;
    clear: both;
    overflow: hidden;
    border: none;
    width: 100%;
}

pre[class*=language-]::before {
    content: 'IDE sae_lab - [~/Programming/sae/sae_lab]';
    padding: 5px 0;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    display: block;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0.1px 0;
    clear: both;
    overflow: hidden;
    color: #333;
}

code[class*=language-] {
    width: 100%;
    padding: 20px;
    display: block;
}

@-webkit-keyframes blink {
    50% { opacity: 0; }
}

@keyframes blink {
    50% { opacity: 0; }
}

code[class*=language-]::after {
    content: '|';
    animation: blink 1.5s linear infinite;
}

pre.language-python::before {
    content: 'Python IDE       sae_lab - [~/Programming/sae/sae_lab.py]';
}

pre.language-bash,
pre.language-vim {
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 15px 27px;
    clear: both;
    overflow: hidden;
    border: none;
}

pre.language-bash::before,
pre.language-vim::before {
    content: 'sae-csp-2 -- -bash 10x80';
    padding: 5px 0;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    display: block;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 15px 70px;
    clear: both;
    overflow: hidden;
    color: #333;
}

pre.language-vim::before {
    content: 'console 10x80';
}

code.language-bash,
code.language-vim {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    padding: 20px;
    display: block;
}

pre.language-bash,
code.language-bash,
pre.language-vim,
code.language-vim {
    color: #f0f0f0;
    font-family: "Consolas", "Courier New", "Courier", sans-serif;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
}

code.language-bash > span.token {
    text-shadow: #555 0 1px 0;
    padding: 10px;
    font-family: "Consolas", "Courier New", "Courier", sans-serif;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    margin: -3px;
}

table.table--bordered {
    margin-bottom: 0;
}

p {
    line-height: 1.6;
}

.table tr, .table td, .table th {
    white-space: normal;
}

.table tr:first-child, .table td:first-child, .table th:first-child {
    width: inherit;
}

div.row.student-dropdown {
    margin-left: .8em;
    margin-right: .8em;
}

a.title-link {
    font-size: .9em;
}

.table tr td:first-child, .table tr th:first-child {
    border-left: 1px solid #dfdfdf;
}

.un-cramp {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.hero.hero--loose.hero--background-4 {
    min-height: 600px;
}

div.hero__content {
    margin-top: 15%;
}

div.show-menu div.header-bar {
    width: 100%;
}

div.modal-footer > button.dismiss {
    margin-top: 1.2em;
}

div#physical_infrastructure > div.modal-dialog,
div#virtual_infrastructure > div.modal-dialog {
    width: 100%;
}

pre.code-toolbar > .toolbar {
    right: 2em;
    min-width: 4rem;
}

pre.code-toolbar > .toolbar .toolbar-item {
    width: 4rem;
}

div.toolbar > div.toolbar-item > button.copy-button {
    padding: 3.5px 5px;
    width: 4rem;
    border: 1px solid #ddd;
    color: #333;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: transparent;
    box-shadow: inset 0.5px 0.3px 0.3px #4c4c4c, inset 0.5px 0.5px 0.3px #4c4c4c;
}

div.toolbar > div.toolbar-item > button.copy-button:hover {
    box-shadow: unset;
    border: .1px solid #888;
}

div#traversal {
    margin-top: 8rem;
}

div#traversal span[class*="icon-"] {
    padding-left: .5em;
    padding-right: .5em;
}

li.sidebar-drawer--opened.selected > ul > li > a {
    box-shadow: none;
    background-color: inherit;
}

.sublist {
    margin-left: 3em;
}

.responsive-table.svs {
    background: url('/images/SVS_Logo.png');
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110% 150%;
}

.responsive-table.svs tr:nth-child(odd),
.responsive-table.svs tr:nth-child(even) {
    background-color: transparent;
}

.modal-image {
    text-align: center;
}

.ciscolive-icon {
    display: block;
    font-size: 2.1875rem;
    line-height: 1;
    background: url('/images/cisco-live-grey.png') no-repeat center;
    background-size: 100px 35px;
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
}

/** Rules for content area spacing **/
div#content.content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: .3rem;
    font-weight: 600;
}

div#content.content h2 {
    font-size: 1.75rem;
    margin-bottom: .3rem;
    margin-top: 2rem;
    font-weight: 500;
}

div#content.content h3 {
    font-size: 1.4rem;
    margin-bottom: .3rem;
    margin-top: 2rem;
    font-weight: 500;
}

div#content.content h4 {
    font-size: 1.3rem;
    margin-bottom: .3rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

div#content.content h5 {
    font-size: 1.1rem;
    margin-bottom: .3rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

div#content.content img {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div#content.content a.fancy-image > img {
    margin-bottom: 0;
    margin-top: 0;
}

div#content.content div.note,
div#content.content div.important-note,
div#content.content div.warning-note {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

div#content.content p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

div#content.content div.responsive-table {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div#content.content pre {
    margin-top: .1rem;
    margin-bottom: 1.5rem;
}

div#content.content p.output-label {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
}

div#content.content p.output-label img {
    margin-top: .3rem;
    margin-bottom: 1rem;
}

div.panel-body > h4 {
    margin-bottom: .3em;
    font-weight: 400;
}

form#nodeData button.btn.btn-primary.pull-right,
form#buttonNodeData button.btn.btn-primary.pull-right {
    margin-top: 1em;
}

body.edit-page .panel-default {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body.edit-page div.header-bar.container {
    width: 80%;
}

body.edit-page span.icon-cisco {
    font-size: 5rem;
}

body.edit-page h1.page-title {
    font-size: 2.5rem;
}

body.edit-page div.header-heading {
    top: 20%;
}

body.edit-page .btn.btn--icon > span[class^="icon-"] {
    font-size: 2.2rem;
}

body.edit-page div.modal-dialog button.close span {
    font-size: 5rem;
}

body.edit-page div.modal-dialog span.element-copied {
    font-weight: bold;
    color: #337ab7;
}

body.edit-page div.section-label {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 2em;
    margin-top: 1em;
}

body.edit-page div.course-data {
    border-bottom: 1px solid #dfdfdf
}

body.edit-page div.row.save-button {
    margin-top: 1em;
}

body.edit-page div.form-group.instructions {
    box-shadow: none;
}

body.edit-page form#courseVariables div.form-group {
    box-shadow: none;
}

body.edit-page .variable-upload {
    border-left: 2px solid #ddd;
}

body.edit-page div.section-labels {
    margin-bottom: 1em;
}

body.edit-page div.qq-upload-button {
    background-color: #428bca;
    border-color: #2e6da4;
}
    body.edit-page div.qq-upload-button:hover {
        background-color: #2e6da4;
        border-color: #2e6da4;
    }

body.edit-page #uploadUpdate {
    font-weight: bold;
    margin-left: 2em;
    color: #14a792;
}

body.edit-page div.full-title {
    margin-left: 1em;
    width: 83.3%;
}

body.edit-page div.save-buffer {
    width: 61%;
}

body.edit-page .dropdown-nav a, .dropdown-menu a {
    font-size: 1rem;
}

body.edit-page div.section-variables {
    box-shadow: none;
}

body.edit-page .form-group input[disabled] {
    background-color: transparent;
    font-size: 1.2em;
    color: #bbb;
}

body.edit-page label.form-check-label {
    line-height:3em;
}

div.leading-data > ul.nav-tabs > li:first-child {
    margin-left: 50px;
}

div.leading-data > ul.nav-tabs > li > a {
    width: 100px;
    font-size: 1.4em;
}

ul.icon-set li {
    background-color: #7f7f86;
    border: 1px solid #444;
}
    ul.icon-set li:hover {
        -webkit-box-shadow: inset 0 0 20px #1f2322;
        -moz-box-shadow: inset 0 0 20px #1f2322;
        box-shadow: inset 0 0 20px #1f2322;
        cursor: pointer;
    }

ul.icon-set li.selected {
    -webkit-box-shadow: inset 0 0 30px #1f2322;
    -moz-box-shadow: inset 0 0 30px #1f2322;
    box-shadow: inset 0 0 30px #1f2322;
}

ul.icon-set li.list-group-item:last-child,
ul.icon-set li.list-group-item:first-child {
    border-radius: 0px;
}

ul.icon-set li > div.icon-item > i {
    color: #fff;
    font-size: 2em;
}

#current-selected-icon {
    margin-right: 1em;
}